x-environment: &default-environment
  DATABASE_URL: postgres://admin:admin@postgres:5432/postgres
  VALKEY_URL: redis://valkey:6379
  SECRET_KEY: change_me_to_something_random
  PORT: 8000
  EMAIL_URL: consolemail://
  GLITCHTIP_DOMAIN: http://localhost:8000
  DEFAULT_FROM_EMAIL: email@example.com
  CELERY_WORKER_AUTOSCALE: "1,3"

x-depends_on: &default-depends_on
  - valkey

services:
  valkey:
    image: valkey/valkey
    restart: unless-stopped
    networks:
      - app_network
  web:
    image: glitchtip/glitchtip
    depends_on: *default-depends_on
    ports:
      - "8000:8000"
    environment: *default-environment
    restart: unless-stopped
    networks:
      - app_network
    volumes:
      - uploads:/code/uploads
  worker:
    image: glitchtip/glitchtip
    command: ./bin/run-celery-with-beat.sh
    depends_on: *default-depends_on
    environment: *default-environment
    restart: unless-stopped
    networks:
      - app_network
    volumes:
      - uploads:/code/uploads
  migrate:
    image: glitchtip/glitchtip
    depends_on: *default-depends_on
    command: ./bin/run-migrate.sh
    environment: *default-environment
    networks:
      - app_network

volumes:
  pg-data:
  uploads:


networks:
  app_network:
    external: true
