name: CD For Kuru Dev

on:
  push:
    branches:
      - release-dev
  pull_request:
    branches:
      - test-ci

jobs:
  lint-commits:
    name: Lint commit messages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (full history for commits)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Cache npm to speed up commitlint install
      - name: Cache npm
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      # install only commitlint
      - name: Install commitlint
        run: npm install -g @commitlint/cli @commitlint/config-conventional

      - name: Lint commits in PR
        if: github.event_name == 'pull_request'
        run: |
          git log -1 --pretty=%B "${{ github.event.pull_request.head.sha }}" \
            | npx commitlint --verbose

      - name: Lint latest push commit
        if: github.event_name == 'push'
        run: |
          git log -1 --pretty=%B "${{ github.sha }}" \
            | npx commitlint --verbose


  lint-check-fe:
    runs-on: ubuntu-latest
    needs: lint-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      # Setup cache to increase speed
      - uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            fe/node_modules/.vite
          key: ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('fe/**.[jt]s', 'fe/**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}-
      - name: Install dependencies
        run: npm ci
      - name: Lint frontend
        run: npm run lint --workspace=fe
      - name: Build frontend
        run: npm run build --workspace=fe

  lint-check-be:
    runs-on: ubuntu-latest
    needs: lint-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      # Setup cache to increase speed
      - uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            fe/node_modules/.vite
          key: ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('fe/**.[jt]s', 'fe/**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}-
      - name: Install dependencies
        run: npm ci
      - name: Lint backend
        run: npm run lint --workspace=be
    
  semantic-release:
    name: Semantic release
    needs: [lint-check-fe, lint-check-be]
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.newTag }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Sync package version with latest dev tag
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag --list "dev-*" --sort=-v:refname | head -n1)
          if [ -n "$LATEST_TAG" ]; then
            VERSION="${LATEST_TAG#dev-}"
            npm version --no-git-tag-version "$VERSION"
          fi

      - name: Compute version
        id: version
        uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag-prefix: dev-
          default: patch
          skip-commit: "true"
          skip-tag: "true"
          skip-push: "true"

  build-fe-image-push:
    name: Build and push FE image
    needs: [lint-check-fe, semantic-release]
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 2. BUILD AND PUSH
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./DockerfileFe
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/jade-fe:dev
          build-args: |
            API_URL=${{ secrets.API_URL }}
            BASE_URL=${{ secrets.BASE_URL }}
            APP_VERSION=${{ needs.semantic-release.outputs.version }}

  build-be-image-push:
    name: Build and push BE image
    needs: lint-check-be
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 2. BUILD AND PUSH
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./DockerfileBe
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/ciri-be:dev


# temp skil this job for now
  deploy:
    name: Deploy release-dev branch
    runs-on: ubuntu-latest
    if: false
    needs:  [build-fe-image-push, build-be-image-push, semantic-release]
    # if: github.ref == 'refs/heads/release-dev'
    env:
      SOURCE_PATH: ${{ secrets.WEB_SERVER_DEV_WORKDIR }}
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.WEB_SERVER_STG_KEY }}" > ~/.ssh/serverSSH
          chmod 600 ~/.ssh/serverSSH
          cat >>~/.ssh/config <<END
          Host serverHostDeploy
            HostName ${{ secrets.WEB_SERVER_STG_HOST }}
            User root
            IdentityFile ~/.ssh/serverSSH
            StrictHostKeyChecking no
          END
        env:
          SSH_KEY: ${{ secrets.WEB_SERVER_STG_KEY }}
          SSH_HOST: ${{ secrets.WEB_SERVER_STG_HOST }}
      - name: SSH to server and run deploy.sh script
        run:  |
         ssh serverHostDeploy -t << 'EOF'
            cd ${{ secrets.WEB_SERVER_DEV_WORKDIR }}
            sh deploy_dev.sh
         EOF
      - name: Persist version (tag)
        run: |
          TAG="${{ needs.semantic-release.outputs.version }}"
          git fetch --tags
          if git rev-parse "$TAG" >/dev/null 2>&1; then exit 0; fi
          git tag "$TAG"
          git push origin "$TAG"