name: CI action for Simple Store

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      # Setup cache to increase speed
      - uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            fe/node_modules/.vite
          key: ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('fe/**.[jt]s', 'fe/**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-vite-${{ hashFiles('**/package-lock.json') }}-
      - name: Install dependencies
        run: npm ci
      - name: Lint backend
        run: npm run lint --workspace=be
      - name: Lint frontend
        run: npm run lint --workspace=fe
    
  build-fe-workspace:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build frontend
        run: npm run build --workspace=fe